/* .navbar {
    color: #DDD8C4;
    text-decoration : none;
    padding : 0 15px;
}

.navbar:active {
    background-color: #DDD8C4;
    color: #69A297;
} */

.nav-tabs .nav-link.active{
    background-color: #DDD8C4;
    color: #69A297;
    border-color: #50808E;
}

.nav-link {
    color: #DDD8C4;
}

.nav-tabs {
    border-bottom: none;
}